# 编译生成的二进制文件 (最常用)
*.o
*.out
*.exe

# Lab 特有的可执行程序 (以 Data Lab, Bomb Lab 等为例)
btest
fshow
ishow
bomb
solve
*.tmp

# 调试与追踪文件 (常用)
*.dSYM/
core
gmon.out

# VS Code 产生的隐藏配置 (常用)
.vscode/

# 备份与临时文件
*~
*.swp

__pycache__/

# 忽略所有 PDF 文件 (实验文档)
*.pdf
SystemProgramDesign/CompileConfige/sample
SystemProgramDesign/CompileConfige/sample.i
SystemProgramDesign/CompileConfige/sample.s
SystemProgramDesign/CompileConfige/sample.o
SystemProgramDesign/optimize/addo0
SystemProgramDesign/optimize/addo1
SystemProgramDesign/optimize/addo2
SystemProgramDesign/optimize/addo3
SystemProgramDesign/optimize/addofast
SystemProgramDesign/optimize/addos
git.png
SystemProgramDesign/ModulerProgramDesign/functionPointer

#myproject
SystemProgramDesign/ModulerProgramDesign/myproject/build

WebProg/icons8-call-16.png